<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coding4Fun.Toolkit.Controls" version="2.0.0" targetFramework="wp80" />
  <package id="DomainrSharp" version="1.0.1" />
  <package id="Microsoft.Bcl.Async" version="1.0.14-rc" targetFramework="wp80" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="wp80" />
  <package id="PropertyChanged.Fody" version="1.32.2.0" targetFramework="wp80" />
  <package id="reactiveui-core" version="4.3.2" targetFramework="wp80" />
  <package id="reactiveui-xaml" version="4.3.2" targetFramework="wp80" />
  <package id="Rx-Core" version="2.0.21114" targetFramework="wp80" />
  <package id="Rx-Interfaces" version="2.0.21114" targetFramework="wp80" />
  <package id="Rx-Linq" version="2.0.21114" targetFramework="wp80" />
  <package id="Rx-Main" version="2.0.21114" targetFramework="wp80" />
  <package id="Rx-PlatformServices" version="2.0.21114" targetFramework="wp80" />
  <package id="Rx-Xaml" version="2.0.21114" targetFramework="wp80" />
  <package id="ScottIsAFool.WindowsPhone" version="1.0.11.0" targetFramework="wp80" />
  <package id="WPtoolkit" version="4.2012.10.30" targetFramework="wp80" />
  <package id="YLAD" version="2.0.0" targetFramework="wp80" />
</packages>