<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coding4Fun.Phone.Controls.Complete" version="1.5.6" />
  <package id="DomainrSharp" version="1.0.1" />
  <package id="Newtonsoft.Json" version="4.5.3" />
  <package id="PhoneFlipMenu" version="1.0.0" />
  <package id="reactiveui-core" version="2.5.2.0" />
  <package id="reactiveui-xaml" version="2.5.2.0" />
  <package id="Rx_Experimental-Main" version="1.1.11111" />
  <package id="Rx_Experimental-Xaml" version="1.1.11111" />
  <package id="Rx-Main" version="1.0.11226" />
  <package id="ScottIsAFool.WindowsPhone" version="1.0.7.0" />
  <package id="SilverlightToolkitWP" version="4.2011.12.14" />
  <package id="YLAD" version="1.4" />
</packages>